.bg-image {
  background-image: url("../images/bg.png");
}
.bg-cover {
  background-size: cover;
}
.bg-p-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.transition {
  transition: 0.4s all;
}
.transition:hover {
  transform: scale(1.2);
}
.mt-less40 {
  margin-top: -40px;
}
.w-35 {
  width: 35%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-15 {
  width: 15%;
}
.h-35 {
  height: 35% !important;
}
.h-200px {
  height: 200px;
}
.title-color {
  color: #34495e;
}
.bg-color {
  background: #e4f1fe;
}
.sidebar-color {
  background: #22313f;
}
.substitution-color {
  background: #8dc6ff;
}
.card-color {
  background: #e4edf2;
}
.pointer {
  cursor: pointer;
}

#pageHeaderTitle {
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #ffffff;

  .postcard__img_link {
    display: contents;
  }
  .postcard__text {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
    .postcard__img {
      max-width: 180px;
    }
    &:nth-child(2n + 1) {
      flex-direction: row;
    }
    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }
  }
}
